@font-face {
  font-family: 'Orbitron';
  src: url('src/assets/fonts/Orbitron/Orbitron-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

/* Orbitron Extra Bold */
@font-face {
  font-family: 'Orbitron';
  src: url('src/assets/fonts/Orbitron/Orbitron-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

/* Orbitron Bold */
@font-face {
  font-family: 'Orbitron';
  src: url('src/assets/fonts/Orbitron/Orbitron-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

/* Orbitron Semi Bold */
@font-face {
  font-family: 'Orbitron';
  src: url('src/assets/fonts/Orbitron/Orbitron-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

/* Orbitron Medium */
@font-face {
  font-family: 'Orbitron';
  src: url('src/assets/fonts/Orbitron/Orbitron-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

/* Orbitron Regular */
@font-face {
  font-family: 'Orbitron';
  src: url('src/assets/fonts/Orbitron/Orbitron-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
