:root {
  --input-primary-color: #00f2ea;
  --input-secondar-ycolor: #a855f7;
  --input-text-color: #e5e5e5;
  --input-bg-color: #0d0d0d;
  --button-color: #f0202f;
  --nanomaterials: #ff0011;
  --psiEnergy: #fffb00;
  --drones: #2200ff;
}
